.carouselContainer {
  margin-bottom: 3em;
}

.card {
  height: 450px;
  box-sizing: border-box;
  position: relative;
}

.text {
  position: absolute;
  text-align: right;
  bottom: 0.5em;
  right: 1em;
  padding-left: 9em;
  font-size: 45px;
  color: white;
  z-index: 1;
}

.image {
  width: 100%;
  filter: brightness(25%);
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.image:hover {
  filter: brightness(15%);
}
