.displaySearch {
  background-color: #262626;
  padding: 2em 3em;
  margin-bottom: 3em;
}

.displaySearchText {
  color: #d9d9d9;
  margin: 0;
}

.displaySearchWord {
  color: white;
  font-size: 40px;
  margin: 0;
}
