.card {
  box-sizing: border-box;
  margin: 1em;
}

.cardImage {
  height: 170px;
  object-fit: cover;
}

.details {
  color: #bfbfbf;
  margin-bottom: 0.4em;
  font-size: 12px;
}

.title {
  margin-bottom: 1em;
}

.description {
  font-size: 14px;
  color: #595959;
}
